---
import * as interfaces from "@/lib/interfaces.ts";
import { isYouTubeURL, parseYouTubeVideoIdTitle } from "@/lib/blog-helpers.ts";
import Caption from "@/components/notion-blocks/Caption.astro";
import { filePath } from "@/lib/blog-helpers";
import EmbedGeneric from "@/components/notion-blocks/embeds/EmbedGeneric.astro";
import Icon from "@/components/ui/Icon.astro";
import { ENABLE_LIGHTBOX, SHORTCODES } from "@/constants";
import YouTube from "@/components/notion-blocks/embeds/YouTube.astro";
import { joinPlainText, resolveLeadingMarker } from "@/utils/richtext-utils";

export interface Props {
	block: interfaces.Block;
	setId?: boolean;
}

const { block, setId = true } = Astro.props;

let url: URL | null = null;
let videoUrl = "";
if (block.Video.External) {
	videoUrl = block.Video.External?.Url;
	if (/^https?:\/\//.test(videoUrl)) {
		url = new URL(videoUrl);
	}
} else if (block.Video.File) {
	videoUrl = filePath(new URL(block.Video.File.Url));
}
const isWide =
	setId &&
	resolveLeadingMarker(block.Video, block.Video?.Caption, SHORTCODES["wide-breakout"], "__wide");
const plainTextCaption = joinPlainText(block.Video?.Caption || []);
const isThisYoutubeURL = url ? isYouTubeURL(url) : false;
const youtubeVidIdTitle = isThisYoutubeURL ? await parseYouTubeVideoIdTitle(url) : ["", ""];
---

<div
	class:list={["video relative", { "webtrotion-wide-breakout": isWide }]}
	id={setId ? block.Id : undefined}
>
	{
		videoUrl &&
			(url ? (
				isThisYoutubeURL ? (
					<YouTube title={youtubeVidIdTitle[1]} videoId={youtubeVidIdTitle[0]} />
				) : (
					<EmbedGeneric url={url} caption={plainTextCaption} />
				)
			) : (
				<>
					{ENABLE_LIGHTBOX && (
						<a
							href={videoUrl}
							class="mediaglightbox no-rss media-expand-icon top-4 right-4"
							data-description={plainTextCaption}
							aria-label="Click to expand"
						>
							<Icon name={"expand"} class="inline h-6 w-6" aria-hidden="true" />
						</a>
					)}
					<video class="embed-media-box" preload="metadata" muted controls>
						<source src={videoUrl} type="video/mp4" />
						Your browser does not support the video tag.
					</video>
				</>
			))
	}
	<Caption richTexts={block.Video.Caption} block={block} />
</div>
